<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>pisst es?</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.simpleWeather-2.3.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
</head>
<body>
<div id="wrapper">
    <h3 id="status">Ich such deine Location</h3>
</div>

<script>
function success(position) {
  var s = $('#status');
  s.html("Gefunden!");
}
 
function fail(msg) {
  var s = $('#status');
  s.html(typeof msg == 'string' ? msg : "Fucking fail.");
}

 if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, fail);
} else {
    fail("doofer Browser");
}
</script>
</body>
</html>